body{
    background-image: url(../img/fix_img.PNG);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 50%;
    background-attachment: fixed;
    background-color: #eae8e7;
    padding: 2% 0 5% 0;
}
.container{
    width: 70%;
}


/*
    left  part
*/


.custom_image {
    background: URL('../img/profile-img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 26%;
}
.text{
    margin-top: 53%;
}
.left_part{
    background-color: #5da4d9;
    color: aliceblue;
}
.left_part h1{
    font-size: 1.8rem;
    color: aliceblue;
}
.left_part span{
    font-size: 0.8rem;
    color: aliceblue;
}
.left_part h5{
    padding-bottom: 20px;
}
.left_part h6{
    font-size: 1rem;
}
.left_part h6 span{
    margin: 0;
    font-size: 0.7rem;
}
.left_part .row p{
    font-size: 13px;
    color: aliceblue;
    margin: 0px 15% 1.6rem 1%;
}
.left_part .row a{
    text-decoration: none;
    color: aliceblue;
}
.left_part .row .col-md-10{
    max-width: 80%;
    margin-left: 3%;
}
.left_icon_1{
    background-image: url(../img/left_ic_1.PNG);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1%;
}
.left_icon_2{
    background-image: url(../img/left_ic_2.PNG);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1%;
}
.left_icon_3{
    background-image: url(../img/left_ic_3.PNG);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 8%;
}
.left_icon_4{
    background-image: url(../img/left_ic_4.PNG);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1%;
}
.left_icon_5{
    background-image: url(../img/left_ic_5.PNG);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;  
  background: #d3d3d3;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background: white;
}
.left_part .range p{
    margin: 0;
}


/*
    content
*/


.content{
    max-width: 64%;
    margin-left: 2%;
    background-color: #eae8e7;
}
.content .row{
    background-color: #ffffff;
}
.content p:nth-child(4n+1){
    font-size: 1.77rem;
    font-weight: 600;
    margin-top: 35px;
    color: #767270;
}
.content p:nth-child(4n+2){
    font-size: 14.5px;
    font-weight: 600;
    margin: 4px 0 4px 0;
    color: #767270;
}
.content p:nth-child(2){
    margin-top: 40px;
}
.content p:nth-child(4n+2) span{
    font-size: 13.5px;
}
.content p:nth-child(4n+3){
    font-size: 13px;
    font-weight: 700;
    margin: 3px 0 3px 0;
    color: #5da4d9;
}
.content p:nth-child(4n+4){
    font-size: 13px;
    margin: 0;
    color: #767270;
}
.content p:last-child{
    margin-bottom: 3rem;
}
.content .row:nth-child(2){
    margin-top: 3%;
}
.content .row:nth-child(3){
    margin-top: 3%;
}
.content .row:nth-child(4){
    margin-top: 3%;
    padding: 8% 0;
}
.content .row:nth-child(4) a{
    text-decoration: none;
}
.icon_1{
    background-image: url(../img/icon_1.PNG);
    background-repeat: no-repeat;
    background-position: 20px 42px;
}
.icon_2{
    background-image: url(../img/icon_2.PNG);
    background-repeat: no-repeat;
    background-position: 20px 42px;
}
.icon_3{
    background-image: url(../img/icon_3.PNG);
    background-repeat: no-repeat;
    background-position: 20px 42px;
}
.navbar{
    padding-left: 0;
}
.navbar ol{
    width: 90%;
    padding: 0;
}
.navbar ol li:nth-child(1){
    margin-left: 0;
}
.navbar ol li{
    display: inline-block;
    margin-left: 8%;
}
hr {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    border: 0;
    border-top: 1px solid #767270ab;
}




@media screen and (max-width: 768px) {
  .content {
      max-width: none;
      margin-left: 0;
      text-align: center;
  }
}
