
h2{
color: #ff3c00;
}
.nav{
position: absolute;
font-size: 90%;
left: 700px;
width: 320px;
height:350px;
border: 3px;
margin: 60px;
padding: 30px;
background: #f2f2ed;
}

.nl{
margin:20;
font-size:80%;
position: absolute;
left:100px;
width: 600px;
color: grey;
}
input{
border-radius:0px;
height: 35px;
width:315px;
}
.fn{
float:left;
width:150px;

}


.ln{
float: right;
width: 150px;
}

.button{
float: right;
height: 30px;
width: 80px;
background-color: blue;
color: white;
}
::placeholder{
text-align: right;
}
