.row {
    margin-top: 10%;
    margin-left: 10%;
    font-family: Arial Narrow, sans-serif;
}
@media screen and (max-width: 600px) {
 
  .col-xs-6 {   
   width:80%;
  }
  .col-xs-4{
      width:80%;
  }
}
h2 {
color:red;
}
a {
    color: blue;
    text-decoration: none;
}
.col-xs-4 {
    margin:2%;
    margin-top: 5%;
    background-color: #FFFFF0;
    box-shadow: 0 0 1px;
    border: 0px solid black;
    
}
.name_surname_input {
    width: 47%;
    height: 30px;
}
.for_marg {
margin:6%;
}
.phone_gmail_input {
    width: 94%;
    height: 30px;
}
.phone_gmail_input::placeholder {
    text-align: right;
padding-right:5%;
}
.tel {
    width: 77%;
    height: 30px;
margin-left:15%;
}
.btn {margin:2%;
    background-color: #4169E1;
    color: white;
    height: 40px;
    width: 25%;
    margin-left:63%;
    border-radius: 5px;
}
.select_tel{
    height: 30px;
    position:absolute;
}
