body {
    font-family: Arial;
}
.continer {
    margin: auto;
    margin-top: 35px;
}
.head {
    margin-bottom: 25px;
    margin-left: 52px;
    color: red;
}
.left_bar_text {
    font-size: 18px;
    text-align: justify;
    
}
.right_bar {
    max-width: 360px;
    background-color: #f1f1f1;
}
.form {
    margin: 20px 10px;
}
label {
    font-weight: bold;
    font-size: 14px;
}
.name {
    background: url(../img/name_atribut.png) no-repeat;
    background-position: 130px;
    background-color: #fff;
    margin-right: 10px;

}
.email {
    display: block;
}
.email::placeholder {
    text-align: right;
}
button {
    margin-bottom: 20px;
}