.button{
	color: #4e4ec6;
	text-decoration: none;
}
.datas{
	font-family: Gill Sans, sans-serif;
	font-size: 90%;
}

#text{
display: flex; 
flex-direction: row; 
width: 100%;
margin-left:5%;
}
#second {
	display: inline-block;	
	color: black; 
	border-radius: 1px;
	margin-left: 7%;
	margin-top: 4%;
	background-color: #F2F2F2;
	margin-right: 15%;
	margin-bottom: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right:1.5%;
	padding-left: 1.5%;
	border: 1px solid #ccc;
	border-radius: 1px;
}
.text{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 90%;
	color: #565656;
	margin-left: 10%;
}
.title{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 130%;
	color: red;
	width: 50%;
	margin-left: 10%;
}
#mail{
	text-align: right;
	width:98%;
	border: 1px solid #ccc;
	border-radius: 1px;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-top: 1%;
	margin-bottom: 3%;
}
#name{
	width:47%;
	border: 1px solid #ccc;
	border-radius: 1px;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-bottom: 3%;
	margin-top: 1%;
}
#submit{
	border-radius:2px;
	background-color: #2378F9;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;	
	margin-top:1%;
	width: 20%;
	margin-left:80%;
	border: none;
	text-align: center;
        font-size:80%;
	margin-top: 2%;
}
.phone{
	font-family: Gill Sans, sans-serif;
	font-size: 90%;
}
#phone{
	background-image:url('https://image.flaticon.com/icons/svg/206/206744.svg');
	width:98%;
	background-position: 5%;
	background-size:7%;
	background-repeat:no-repeat;
	border: 1px solid #ccc;
	border-radius: 1px;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-top:1%;
	margin-bottom: 3%;
}

