body {
    user-select: none;
    background-color: #212121;
}
.header {
    width: 22%;
    margin: 50px auto 0;
    border: double 20px red;
    border-radius: 40px;
    border-bottom: none;
    text-align: center;
    background-color: black;
    color: white;
}
.header h1{
    margin-bottom: 0;
}
#form{
    width: 44%;
    margin: 0px auto;
    border: double 30px #ff2009;
    border-radius: 60px;
    padding: 20px;
    background-color: black;
    color: white;
}
.formElem {
    margin: 10px 0;
    margin-bottom: 30px;;
}
.formElem > p {
    text-align: center; 
    padding: 10px;
}
.formElem > label {
    margin-right: 20px;
    padding: 5px;
    border: solid;
    border-radius: 25px;
}
#modalWindow {
    background: #ededed;
    color: red;
    position: absolute;
    border: 1px solid;
    padding: 30px;
    z-index: 10;
    width: 31%;
    left: 32%;
    top: 30%;
    font-size: 49px;
    border-radius: 20px;
    text-align: center;
    display: none;
}
.submit {
    width: 16%;
    height: 30px;
    font-size: 20px;
    border-radius: 11px;
    background-color: #45ff2e;
    color: white;
    margin-left: 84%;
}

@media screen and (max-width: 968px) {
    #form {
        width: auto;
        margin: 0;
        font-size: 28px;
    }
    .header{
        width: auto;
        margin: 0;
    }
    .formElem > label {
        display: block;
    }
    .formElem > p{
        text-align: center;
    }
    #modalWindow {
        position: absolute;
        top: 90%;
    }
}