body{
    background-color: darkcyan;
}
form{
    width: 35%;
    margin: 125px ;
        padding: 20px;
        border: black;
color: white;
text-align: left;}
input{
    width: 80%;
        height: 30px;
        border: black;
    color: black;
    padding: 8px;
margin-bottom: 20px;
}
.submit {
    width: 25%;
    height: 33px;
    font-size: 20px;
    border-radius: 11px;
    background-color: black;
    color: white;
}
}