body {
    background-color: rgb(252, 252, 240);
    font-family: Arial, Helvetica, sans-serif;
}
.sansserif_red {
    color:#ef2915;
  }
.gmail_post {
    font-size: 17px;
  }
.main  {
    max-width: 710px;
    padding: 20px;
}
.registr  {
    max-width: 350px;
    margin: 85px 5px 10px 5px;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 20px;
}
.img {
    text-align: center;
}

form input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#phone1{
    padding-left: 35px;
    background-image:url("images/1.png");
    background-position: 10px center;
    background-repeat: no-repeat;
}
.input1 {
    width: 48%;
    padding: 12px 10px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#fname2 {
    float:right;
}
#email::placeholder{
    text-align: right;
}
form button{
    text-align: center;
    float: right;
    width: 80px;
    border-radius: 5px;
    background-color: #5079ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #1839a5;
}
.flx-contenier {
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }



@media(max-width:1165px){
    .registr {
        margin-top: 10px;
        max-width: 350px;
    }
}