#photo{
    margin-left: 38%;
    width:25%
}
#button{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    width:40%;
}#username{
    width: 46%;
    
}#password{
    width: 46%;
}#common{
    margin-left: 35%;
}

