.section{
	display:inline-block;
}
a{
	text-decoration:none;
}
h3{
	color:red;
	font-size:1.2em;
	width:35%;
	margin-left:15%;
}
.paragraph {
	display:inline-block;
	font-family:LucidaGrande,Verdana,Arial;
	width:35%;
	margin-left:15%;
	font-size:0.7em;
}
.input {
	margin-top:14px;
	padding-left:18px;
	padding-bottom:20px;
	display:inline-block;
	float:right;
	width:22%;
	background-color:#EEEFF2;
	margin-right:20%;
	height:290px;
}
#button {
	margin-left:264px;
	margin-top:3%;
	background-color:#3B5998;
	border:none;
	color:white;
	border-radius:2px;
	height:25px;
	cursor:pointer;
	font-family:LucidaGrande;
	border-color:
}
.inp {
	width:310px;
	
}
.h4{
	margin-top:8px;
	font-weight:bold;
	font-family:LucidaGrande;
	margin-bottom:10px;
}
.inp1{
	width:45%;
}










































/*
#a{
	width:50%;
	position:static;
	border:2px solid silver;
	margin-left: 350px;
	height: 650px;
	}
#b {
	position:static;
	margin-top:40px;
	margin-left:30%;
}
.c {
	border:10px sloid red;
	position:static;
	text-align:center;
	width:45%;
	height:340px;
	margin-left:30px;
	text-align:left;
}
#Uname {
	width:696px;
	height:35px;
	padding-left:10px;
	
}
#Pword {
	width:696px;
	height:35px;
	padding-left:10px;
	
}
.label1 {
	font-size:1.2em;
	font-weight:bold;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  margin-top:10px;
  width:710px
}
.button:hover {
	 background-color: green;
}
*/
