body {
    height: 2000px;
}
.config{
    padding: 5px;
    margin: 5px;
    width:auto;
    height: 20px;
    background: #AFCDE7;
}
  .car{
    justify-content: space-around;
    display:flex;
    background: khaki;
    margin: 10px;
}
.ismod {
    text-align: center;
    display: none;
    z-index: 10;
    background: greenyellow;
    position: absolute;
    padding: 10px;
    width:300px;
    top: 30%;
    left: 40%;
}
table {
    border-collapse: collapse;
    text-align: center; 
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}
form #addcar {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}