
.main{
text-align: center;
border:solid 4px #ebe8e1;
margin-left:100px;
margin-right: 100px;
margin-top; 2px;
line-height: 30px;
padding-top: 30px;
padding-bottom:15px; }
img{
width: 450px;
height:500px;
}

#fname{
width: 800px;
height: 40px;
border-radius:0px;
}

#lname{
width: 800px;
height: 40px;
border-radius:0px;
}

.button{
width: 800px;
height: 50px;
color: white;
background-color:green;
}
