body{
    background-color: #212121;
}
form{
    width: 30%;
    margin: 125px auto;
    border: double 30px #ff2009;
    border-radius: 60px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
input{
    width: 90%;
    height: 30px;
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
.submit {
    width: 25%;
    height: 33px;
    font-size: 20px;
    border-radius: 11px;
    background-color: #45ff2e;
    color: white;
}

#modalWindow {
    background: #ededed;
    color: red;
    position: absolute;
    border: 1px solid;
    padding: 30px;
    z-index: 10;
    width: 31%;
    left: 32%;
    top: 30%;
    font-size: 49px;
    border-radius: 20px;
    text-align: center;
    display: none;
}
@media screen and (max-width: 768px) {
    form {
        width: auto;
        font-size: 28px;
    }
    input{
        font-size: inherit;
    }
}