
.main{
width:76%;
height:100%;
border:solid 4px #ebe8e1;
margin-top: 0.5%;
margin-left: 12%;
margin-right:12%;
padding-bottom:3%;
padding-top:5%;
 }
.img{
text-align: center;
}
::placeholder{
padding-left:20px;
}
input{margin-bottom:2%;
margin-top:1%;
width: 90%;
padding:1%;
border-radius:0;
}
.i1 {
text-align:center;
}
label
{
display:block;
margin-left:4%;
}
.i2{
text-align:center;}
.button{
width:92%;
padding:1.5%;
color: white;
background-color:green;
border:none;

}
