
h2{
color: #ff3c00;
}
.col-sm-4{
margin-top:8%;
padding-bottom:3%;
font-size: 90%;
border: 3px;
background-color:#f2f2ed;
}
.col-sm-7
{
margin:1%;
font-size:80%;
color: grey;
}
input{
border-radius:0px;
}

.btn{
float: right;

}
::placeholder{
text-align: right;
}
