    #img{
	margin-left: 40%; 
    }
    #image{
	width:40%;     
    }
    #form{
        width:50%;
    }
    .input {
        border: 1px  solid #ccc;
        padding: 2% 2%;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        margin: 1% 1%;
        cursor: pointer;
        width: 100%;
        margin-left: 50%;
    }
    #button {
        background-color: rgb(76,175,80) ;
        color:white;
        width: 104.5%;
        text-align: center;
        cursor: pointer;
        margin-left: 50%;
        border: 1px  solid #ccc;
        padding: 2% 2%;
	margin-top: 1%;
    } 
    #data{
        margin-left: 50%;
    }
