#image{
margin-left:37%;
}


#username{
  border: 1px  solid #ccc;
  border-radius: 1px;
  margin-left: 30%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}



#username{
        padding-right:25%;
        padding-bottom:1%;
        padding-top:1%;
}

#password{

  border: 1px  solid #ccc;
  border-radius: 1px;
  margin-left: 30%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
#password{
        padding-right:25%;
        padding-bottom:1%;
        padding-top:1%;
}


.button{
  color: white;
  background-color: rgb(76,175,80) ;

}

.button{
  border: 1px  solid #ccc;
  border-radius: 1px;
  margin-left: 30%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.button{
  padding-left:19%;
  padding-right: 19%;
  padding-bottom:1%;
  padding-top:1%;
}
#data{
margin-left: 30%;
}

