div.a {
  position: absolute;
  left: 700px;
  width: 450px;
  height: 400px;
  top: 50px;
  border:3px solid #F5F5F5;
  background:#F5F5F5;
  margin: 1px;
}



 



    h1 { color: #FF0000; }


  

p {font-family: Tahoma, Geneva, sans-serif
  font-size:7px;}


input[type=text], select {
  width: 100%;
  padding: 9px 5px;
  margin: 1 px 1;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  margin:2px;
}




input[type=submit] {
  background-color: #3333ff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}


input[type=submit]:hover {
  background-color: #3333ff;
}







