			body {
			background-color:#99FFFF;	/*css file*/
			}
			h1{
				margin-left:40%;
			}
			#form{
				margin-left:30%;
			}
			body {
				user-select: none;
			}
			.formElem {

				margin: 10px 0;
				margin-bottom: 30px;
			}
			.formElem > p {
				text-align: center; 
				background: #CCFFCC;
				padding: 10px;
				max-width: 500px;
			}
			.formElem > label {
				margin-right: 20px;
				padding: 5px;
				background: #ededed;
				border-radius: 10px;
			}
			#modalWindow {
				background: #ededed;
				position: absolute;
				border: 1px solid;
				padding: 30px;
				z-index: 10;
				left: 30%;
				top: 30%;
				border-radius: 20px;
				display: none;
			}
			input[type="submit"] {
				background-color:#3B5998;
				border:none;
				color:white;
				border-radius:2px;
				height:2em;
				cursor: pointer;
				width: 50%;
			}
